#
# Rename this file to .env - docker-compose (at least v1.27) will automatically 
# load it
#
# Docs for main container: https://hub.docker.com/r/mikenye/readsb
#
# Main Web UI will be on: http://ip:8080/
# If enabled, Flight Radar UI will be on: http://ip:8754/
# If enabled, claim your ADSB Exchange at: http://adsbexchange.com/myip/
#
# IMPORTANT: Make sure you have blacklisted the required modules,
#            listed under 'Prerequisites'
#

# Container versions
READSB_PROTO_TAG="latest"
FR24_TAG="latest"
ADSBX_TAG="latest"
PFINDER_TAG="latest"
TAR_TAG="latest"
PIAWARE_TAG="latest"
THREE_SIXTY_TAG="latest" # See 360 radar section in the README.md

# Container names (safe to leave)
READSB_PROTO_NAME="mikenye/readsb-protobuf"
FR24_NAME="mikenye/fr24feed"
ADSBX_NAME="mikenye/adsbexchange"
PFINDER_NAME="mikenye/planefinder"
TAR_NAME="mikenye/tar1090"
PIAWARE_NAME="mikenye/piaware"
THREE_SIXTY_NAME="360radar" # See 360 radar section in the README.md

# USB Bus and Device ID. Got from 'lsusb'
BUS="001" # FILL IN
DEVICE="004" # FILL IN

# Linux Timezone
TZ="Europe/London"

# Decimal (xx.xxxxx) Lat and Long
LAT="" # FILL IN
LONG="" # FILL IN

# Altitude in meters (with m appended, eg '10m')
ALT="" # FILL IN

# Flight Radar 24 Key
# Get this by running:
#
#   docker run --rm -it --entrypoint fr24feed mikenye/fr24feed --signup
#
# Docs here: https://hub.docker.com/r/mikenye/fr24feed
#
FR24_KEY="" # FILL IN (if enabled)

# ADSB Exchange UUID and Site name
# Get this by running:
#
#    docker run --rm -it --entrypoint uuidgen mikenye/adsbexchange -t
#
# Docs here: https://hub.docker.com/r/mikenye/adsbexchange
#
ADSBX_UUID="" # FILL IN (if enabled)
ADSBX_SITENAME="" # FILL IN (if enabled)

# Planefinder Share Code
# Get this by running:
#
# docker run \
#    --rm \
#    -it \
#    --name pfclient_temp \
#    --entrypoint pfclient \
#    -p 30053:30053 \
#    mikenye/planefinder
#
# And browse to http://localhost:30053
#
# Full docs here: https://github.com/mikenye/docker-planefinder
PFINDER_SHARE_CODE="5fd526583fd71"

# Flight Aware
# Get your ID by running:
#
#   docker run --rm -e LAT="51.582690" -e LONG="-0.439440" mikenye/piaware:latest | grep "my feeder ID"
#
# Make sure you swap out your lat and long.
#
# Then go to https://flightaware.com/adsb/piaware/claim to claim your feeder
#
FLIGHT_AWARE_ID="" # FILL IN (if enabled)

# Radar 360
#
# CAUTION: You need to build this container yourself, see the section in the README.md
#
# Region should be one of:
# * eire
# * midlands
# * northern_england
# * northern_ireland
# * scotland
# * se_england
# * sw_england
# * wales
#
# SITENAME should be thenname of your village or town plus your initials in '
# capitals – NO spaces!
THREE_SIXTY_SITENAME="" # FILL in (if enabled)
THREE_SIXTY_REGION="" # FILL in (if enabled)
